.venue{
    margin: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.venue h1{
    color: black;
    text-align: center;
}
.venue_head p{
    font-size: 28px;
    text-align: center;
}
.venue_body{
    display: flex;
    justify-content: space-around;
   
}