@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

.bannerimages{
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.banner{
    margin-top: 30px;
    position: relative;
}
.txt{
    position: absolute;
    left: 38%;
    top: 38%;
    
}
.txt h1{
    color: #fff;
    font-size: 70px;
}
.bannerquote{
    position: absolute;
    top: 88%;
    left: 27px;
    color: #fff;
    font-family: "Vollkorn", serif;
}

@keyframes zoomIn {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .zoom {
    animation: zoomIn 1s ease-in-out;
  }